@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
